

h2{
font-size: 30px;
text-align: center;
}


body
{ 
 font-family: Tahoma; 
background-color: rgb(255,255,255); 

text-align: center; 
		    	}


                 

 
 

 
 
 h1 {
    color: blue;
    font-size: 50px;
    text-align:center;
}

td{
text-align:justify;

}